body{
    color: white;
    background-color: var(--background);
}

.green{
    color: var(--teal);
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 1700px){
    .container{
        width: 95%;
    }
}




