
.button p, .button a{
    padding: 10px;
    color: var(--teal);
    border: solid 2px var(--teal);
    text-decoration: none;
}

.button a:hover{
    box-shadow: var(--button-shadow);
}

.button{
    padding-bottom: 30px;
}

/* introduction section */

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}



.intro-text{
    border-bottom: 2px solid var(--borders);
    width: 80%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro-text p{
    font-size: 32px;
    width: 70%;
}




/* Introduction image */

.intro-img{
    display: flex;
    flex-direction: column;
    position: relative;
}

.intro-img-box{
    padding: 30px;
}

.intro-img-box img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 100px -42px var(--teal);
}

.top{
    position: absolute;
    height: 2px;
    width: 100px;
    content: "";
    background-color: var(--borders);
}

.left{
    position: absolute;
    height: 100px;
    width: 2px;
    content: "";
    background-color: var(--borders);
}

.right{
    position: absolute;
    width: 2px;
    height: 100px;
    content: "";
    background-color: var(--borders);
    right: 0;
    bottom: 0;
}

.bottom{
    position: absolute;
    width: 100px;
    height: 2px;
    content: "";
    background-color: var(--borders);
    right: 0;
    bottom: 0;
}

/* projects */

.projects h2{
    text-align: center;
 
}

.projects{
    border-bottom: 2px solid var(--borders);
    padding-bottom: 150px;
}

/* cards */

.card{
    border: 2px solid var(--teal);
    padding: 20px;
    min-height: 850px;
}

.card-container{
    display: flex;
    align-items: center;
    gap: 30px;
}





.card h3{
    text-align: center;
    color: var(--teal);
}

.card-content{
    display: flex;
}

.media-box img{
    width: 100%;
    object-fit:cover;
    max-height: 300px;
    object-position: top;
    cursor: pointer;

}

.language{
    display: flex;
    justify-content: space-evenly;
}

.card-text{
    font-weight: var(--medium);
}

.card-links a{
    color: white;
    text-decoration: none;
}

.card-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

i{
    padding-right: 10px;
    color: var(--teal);
}

.language-info{
    display: flex;
    justify-content: space-evenly;
}

.language-info p{
    padding: 7px;
    border: solid 2px var(--teal);
    color: var(--teal);
}

.content-text{
    min-height: 180px;
}

.about{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--borders);
    margin-bottom: 100px;
    padding: 150px 0;
}
.about-content{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.about-text{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.about-text h2{
    margin: 0 auto;
}

.skillset{
    justify-content: center;
    display: flex;
    border: solid 2px var(--teal);
    justify-content: space-evenly;
}



/* .skillset ul{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.skillset ul li{
    list-style: none;
} */

.contact p{
    color: var(--teal);
}

.social-links{
    font-size: 60px;
}

/* modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sits on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black with opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style adjustments for the close button if using <button> instead of <span> */
  button.close {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  
